/* .logo-top-bottom-margins {
    padding-top: 10px;
    padding-bottom: 10px;
} */

.logo-row {
    padding-bottom: 5px;
}

.logo-supporting-text {
    color: black;
}

.contact-us-link {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
}
